.wrapper {
  padding: 1rem 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  flex-direction: column-reverse;
  /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
  gap: 1rem;
}

.card {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 9px 1px var(--black);
  background-color: var(--white);
  filter: brightness(0.95);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.lecturePanel {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-top: 2px solid var(--black);
}

.lectureList {
  list-style: none;
  padding: 0;
}

.lectureList li {
  padding: 0.3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.yearTabs {
  display: flex;
  gap: 0.5rem;
}

.lectureActions {
  gap: 0.5rem;
}

.tabs button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--light);
  background: var(--dark);
  color: var(--white);
  cursor: pointer;
  border-radius: var(--border-radius);
}

.tabs .activeTab,
.tabs button.activeTab {
  background-color: var(--green);
  color: var(--white);
  font-weight: bold;
  border-color: var(--green);
}
