.wrapper {
  padding: 2rem;
  width: calc(100% - 200px); /* Adjust based on sidebar width */
  position: relative; /* Needed for z-index context if using */
}

.wrapper h1 {
  margin-bottom: 2rem;
}

.summaryHr {
  visibility: hidden; /* Hide by default */
}

.titleHr,
.summaryHr,
.quizSummaryFloating hr,
.question hr {
  margin: 1rem 0;
  border: none;
  border-top: 3px solid var(--black);
  border-radius: 4px;
}

.courseList {
  display: grid;
  gap: 1.5rem;
}

.courseCard {
  border: 1px solid var(--dark);
  box-shadow: 0px 0px 9px 1px var(--black);
  background-color: var(--white);
  filter: brightness(0.95);
  color: var(--black);
  padding: 1rem;
  border-radius: 0.5rem;
}

.courseDetail {
  padding-top: 1rem;
}

.lecture {
  margin-top: 2rem;
}

.file-viewer__overlay-logo .icon {
  visibility: hidden !important;
}

.courseDetail button,
.wrapper button,
.courseCard button {
  padding: 0.4rem 1rem;
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
}

.courseDetail button:hover,
.wrapper button:hover,
.courseCard button:hover {
  filter: brightness(1.2);
}

.question {
  font-size: 1.3rem;
  margin: 2rem 0rem;
  padding-bottom: 1rem; /* Add padding to separate from border */
}

.question hr {
  margin: 1rem 0; /* Add margin for spacing */
  border: none; /* Remove default border */
  border-top: 3px solid var(--black); /* Use a solid line for the divider */
  border-radius: 4px;
}

.question p {
  margin-bottom: 15px;
}

.choices {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  padding: 1.2rem;
  margin-left: 1rem;
  margin-bottom: 5px;
  font-size: 1.2rem;
  border: 3px solid var(--dark);
  background-color: var(--white); /* Light background */
  filter: brightness(0.95);
  border-radius: 20px;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
  cursor: pointer;
}

.choices input {
  margin-right: 0.2rem;
  visibility: hidden;
}

.choices input:hover {
  margin-right: 0.2rem;
}

.choices:hover,
.selectedChoice {
  background-color: var(--green); /* Highlight background */
  color: var(--white); /* Highlight text color */
}

.quizSummaryFloating {
  position: fixed; /* Keep it in place while scrolling */
  height: 75%;
  width: 200px; /* Width of the floating window */
  top: 100px; /* Adjust as needed */
  right: 10px; /* Distance from the right edge */
  background-color: var(--white); /* Light background */
  filter: brightness(0.95);
  padding: 1.5rem;
  border-radius: 10px;
  z-index: 1000; /* Ensure it stays on top */
  border: 2px solid var(--dark); /* Subtle border */
  font-size: 1rem;
  color: var(--black);
}

.quizImageContainer {
  margin-bottom: 1.5rem;
  text-align: center;
}

.quizImage {
  max-width: 50%; /* Ensure image doesn't overflow its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Slightly rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0.5rem;
    width: calc(100%);
    position: relative;
  }

  .wrapper h1 {
    margin-bottom: 0.5rem;
  }

  .quizSummaryFloating {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 0;
  }

  .summaryHr {
    visibility: visible; /* Hide by default */
  }

  .quizImage {
    max-width: 100%; /* Ensure image doesn't overflow its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Slightly rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
}
