.summaryHr {
  visibility: hidden; /* Hide by default */
}

.lectureList,
.courseList {
  display: grid;
  gap: 1.5rem;
}

.lectureCard,
.courseCard {
  border: 1px solid var(--dark);
  box-shadow: var(--box-shadow);
  background-color: var(--darkgrey);
  color: var(--fg);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-md);
  backdrop-filter: blur(4px);
  transition: var(--transition);
}

.lectureCard:hover,
.courseCard:hover {
  transform: scale(1.02);
  backdrop-filter: blur(0px);
  cursor: pointer;
}

.courseDetail {
  padding-top: 1rem;
}

.courseCardDetails {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.lecture {
  margin-top: 2rem;
}

.file-viewer__overlay-logo .icon {
  visibility: hidden !important;
}

.question {
  font-size: 1.3rem;
  margin: 2rem 0rem;
  padding-bottom: 1rem; /* Add padding to separate from border */
}

.question p {
  margin-bottom: 15px;
}

.choices {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  padding: 1.2rem;
  margin-left: 1rem;
  margin-bottom: 5px;
  font-size: 1.2rem;
  border: 3px solid var(--dark);
  background-color: var(--bg); /* Light background */
  filter: brightness(0.95);
  border-radius: var(--border-radius);
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
  cursor: pointer;
}

.choices:hover,
.selectedChoice {
  background-color: var(--green); /* Highlight background */
  color: var(--bg); /* Highlight text color */
}

.floatingTime {
  visibility: hidden;
}

.quizSummaryFloating {
  position: fixed; /* Keep it in place while scrolling */
  top: 30px;
  right: 10px; /* Distance from the right edge */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 200px; /* Width of the floating window */
  background-color: var(--darkgrey); /* Light background */
  backdrop-filter: blur(5px);
  filter: brightness(0.95);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  z-index: 1000; /* Ensure it stays on top */
  border: 2px solid var(--dark); /* Subtle border */
  font-size: 1rem;
  color: var(--fg);
}

.quizImageContainer {
  margin-bottom: 1.5rem;
  text-align: center;
}

.quizImage {
  max-width: 50%; /* Ensure image doesn't overflow its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: var(--border-radius); /* Slightly rounded corners */
  box-shadow: 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.progressBarContainer {
  margin: 20px 0;
  text-align: left;
}

.progressBar {
  width: 100%;
  height: 20px;
  background-color: var(--grey);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.progressBarFill {
  height: 100%;
  background-color: var(--green);
  transition: width 0.5s ease-in-out;
  width: 0;
}
.file-viewer__embedded-header {
  visibility: hidden !important;
  display: none !important;
}

.Title {
  background-color: var(--blue);
  color: var(--white);
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-xl);
  display: inline-block;
  box-shadow: var(--box-shadow);
}
.questionCard {
  border: 1px solid var(--dark);
  box-shadow: var(--box-shadow);
  background-color: var(--darkgrey);
  backdrop-filter: blur(4px);
  color: var(--fg);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  margin: var(--spacing-lg) 0;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0.5rem;
    width: calc(100%);
    position: relative;
  }

  .wrapper h1 {
    margin-bottom: 0.5rem;
  }

  .quizSummaryFloating {
    position: relative;
    width: 100%;
    height: fit-content;
    top: 0;
    right: 0;
    z-index: 0;
  }

  .floatingTime {
    visibility: visible;
    position: fixed;
    top: 0; /* Adjust as needed */
    left: 0%;
    background-color: var(--bg); /* Light background */
    filter: brightness(0.95);
    border-radius: var(--border-radius);
    z-index: 1000; /* Ensure it stays on top */
    border: 2px solid var(--dark); /* Subtle border */
    font-size: 1rem;
    color: var(--fg);
    width: 100%;
    text-align: center;
  }

  .summaryHr {
    visibility: visible; /* Hide by default */
  }

  .quizImage {
    max-width: 100%; /* Ensure image doesn't overflow its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: var(--border-radius); /* Slightly rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }

  .courseCardDetails {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .Title {
    margin-right: 0;
  }

  .questionCard {
    margin: 0 0 2rem 0;
  }
}
