:root {
  /* dark */
  --black: #202a30;
  --dark: #2f3843;
  /* lights */
  --white: #d4d9d5;
  --light: #748c92;
  /* colors */
  --blue: #124e65;
  --green: #749f6e;
  --red: #976061;
  --magenta: #836e9f;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  color: var(--black);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


@media (max-width: 768px) {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    padding-top: 30px;
  }
}