:root {
  /* dark */
  --black: #202a30;
  --dark: #2f3843;
  /* lights */
  --white: #d4d9d5;
  --light: #748c92;
  /* colors */
  --blue: #124e65;
  --green: #749f6e;
  --red: #976061;
  --magenta: #836e9f;
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  padding: 1rem 2rem;
}

textarea,
input,
select {
  display: flex;
  padding: 10px;
  text-align: left;
  justify-content: left;
  border-radius: var(--border-radius);
  border: 1px solid var(--dark);
  box-sizing: border-box;
  background-color: var(--white);
  filter: brightness(1.05);
}

hr {
  margin: 1rem 0;
  border: none;
  border-top: 3px solid var(--black);
  border-radius: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0.6rem 1rem;
  background-color: var(--green);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

button:hover {
  filter: brightness(1.2);
}

@media (max-width: 768px) {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    padding-top: 30px;
  }
}
