.signButtons {
  display: none;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.buttonContainer button {
  background: var(--darkgrey);
  backdrop-filter: blur(2px);
  color: var(--fg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 45%;
  max-width: 300px;
  height: max-content;
  text-align: center;
  gap: 1rem;
}

.courseButton {
  border: none;
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

.courseButton:hover {
  transform: scale(1.05);
}

.buttonContainer button:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 30px 5px var(--dark);
  filter: brightness(1);
}

@media (max-width: 768px) {
  .signButtons {
    display: flex;
    text-align: center;
    margin-bottom: 2rem;
    justify-content: center;
    gap: 1rem;
  }
  .signButtons button {
    width: 100%;
    justify-content: center;
  }

  .title {
    font-size: 1.5rem;
  }

  .page {
    gap: 2rem;
  }

  .page h1 {
    font-size: 2rem;
  }

  .buttonContainer {
    flex-direction: column;
    align-items: center;
  }

  .buttonContainer button {
    width: 100%;
    margin-bottom: 20px;
  }

  .socialMedia {
    gap: 1rem;
  }

  .icon {
    font-size: 2.5rem;
  }
}
