.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Use min-height to allow content to grow */
  padding: 4rem 1rem; /* Adjust padding for smaller screens */
  gap: 4rem;
}

.page h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--black);
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line */
  justify-content: center;
  gap: 2rem; /* Use a smaller gap for better spacing */
  width: 100%;
}

.button {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem; /* Adjusted font size for mobile */
  padding: 1.5rem; /* Adjusted padding */
  border-radius: 20px;
  border: 2px solid var(--black);
  box-shadow: 0px 0px 20px 2px var(--black);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 45%;
  max-width: 300px;
  height: 400px;
  text-align: center;
  gap: 1rem;
}

.button:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 30px 5px var(--black);
}

.socialMedia {
  display: flex;
  gap: 0.5rem;
  padding: 5px;
  align-items: center;
  background-color: var(--white);
  filter: brightness(0.9);
  border-radius: 20px;
  box-shadow: 0px 5px 10px 1px var(--dark);
}

.socialMedia a {
  display: flex;
  align-items: center;
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.socialMedia a:hover .icon {
  color: var(--primary-color);
  transform: scale(1.1);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon {
  font-size: 3rem;
}

/* --- Media Queries for Mobile --- */
@media (max-width: 768px) {
  .page {
    gap: 2rem;
  }

  .page h1 {
    font-size: 2rem; /* Smaller font size for heading on mobile */
  }

  .buttonContainer {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    align-items: center; /* Center the buttons */
    gap: 2rem;
  }

  .button {
    width: 90%; /* Make buttons full-width on mobile */
    height: fit-content; /* Reduced height for smaller screens */
    padding: 1rem;
    font-size: 1.1rem;
  }

  .socialMedia {
    gap: 1rem;
  }

  .icon {
    font-size: 2.5rem;
  }
}
