.container {
  max-width: 700px; /* increased width */
  margin: 40px auto;
  padding: 30px;
  border: 1px solid var(--white);
  border-radius: 8px;
  background: var(--white);
  filter: brightness(0.95);
  box-shadow: 0px 0px 7px 1px var(--dark);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form select {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid var(--dark);
  width: 100%; /* ensures full width */
  box-sizing: border-box;
  background-color: var(--white);
}

.form button {
  padding: 10px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form button:hover {
  filter: brightness(1.2);
}

/* Sections */
.splitContainer {
  flex-direction: column;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.section {
  flex: 1;
  min-width: 300px;
}

.section h3,
.credentials h3 {
  margin-bottom: 10px;
  color: var(--black);
  font-size: 18px;
  border-bottom: 1px solid var(--dark);
  padding-bottom: 5px;
}

.credentials {
  margin-top: 20px;
}

.errorText {
  background-color: var(--red);
  color: var(--black);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.password {
  position: relative;
  display: flex;
  align-items: center;
}

.password button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--dark);
  margin-bottom: 15px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .container {
    margin: 20px auto;
    padding: 10px;
    background: var(--white);
    box-shadow: none;
    filter: none;
  }

  .splitContainer {
    flex-direction: column;
  }

  .section {
    min-width: 100%;
  }
}
