.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.table td {
  padding: 0.75rem;
  border: 2px solid var(--blue);
  text-align: left;
  background-color: var(--light);
  color: var(--bg);
}

.table td:hover {
  background-color: var(--blue);
}

.table th {
  background-color: var(--blue);
  color: var(--bg);
  font-weight: bold;
  padding: 0.75rem;
  border: 2px solid var(--blue);
  text-align: left;
}

.error {
  color: red;
  font-weight: bold;
}
